@import 'tailwindcss';

@plugin '@tailwindcss/aspect-ratio';
@plugin '@tushargugnani/tailwind-group-peer-checked';

@theme {
  --color-main-green: #adbaad;
  --color-secondary-green: #adbaad;
  --color-dashboard-green: #c2e2c2;
  --color-highlight-green:#9bf9ce;
  --color-dark-green: #01311e;
  --color-tudor-red: #be0100;
  --color-rolex-green: #01603a;
  --color-rolex-green-2: #127849;
  --color-gray-button: #767676;
  --color-rolex-green-3: #61bc93;
  --color-rolex-brown: #472c20;
  --color-rolex-dark-grey: #212121;
  --color-rolex-grey-light: #d4d4d4;
  --color-rolex-brown-light-1: #f5efea;
  --color-rolex-brown-light-2: #f9f7f3;
  --color-opaco: rgba(0, 0, 0, 0.5);

  --font-vilsuve: Vilsuve, sans-serif;
  --font-tudor: Meta, sans-serif;
  --font-montserrat: Montserrat, sans-serif;
  --font-arial-light: Arial Light, sans-serif;
  --font-tudor-title: Headline-tudor, sans-serif;
  --font-arial-bold: Arial MT, sans-serif;
  --font-helvetica-light: Helvetica-Light, sans-serif;
  --font-helvetica: Helvetica Now Text, sans-serif;
  --font-georgia: Georgia, sans-serif;

  --background-image-rolex-gradient: linear-gradient(
    90deg,
    rgba(12, 66, 41, 1) 0%,
    rgba(25, 111, 73, 1) 100%
  );

  --breakpoint-3xl: 1700px;
  --breakpoint-xs: 500px;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}


@font-face {
    font-family: 'Headline-tudor';
    src: url(/fonts/tudor-headline.ttf) format("truetype");
    font-display:swap;
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now MT Micro';
    font-style: normal;
    font-weight: 400;
    src: local('Helvetica Now MT Micro'), url('/assets/fonts/HelveticaNowMTMicro.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Helvetica Now MT Text';
    font-style: normal;
    font-weight: 400;
    src: local('Helvetica Now MT Text'), url('/assets/fonts/HelveticaNowMTText.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Helvetica Now MT Disp';
    font-style: normal;
    font-weight: 800;
    src: local('Helvetica Now MT Disp'), url('/assets/fonts/HelveticaNowMTDisp.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Arial MT';
    font-style: normal;
    font-weight: 400;
    src: local('Arial MT'), url('/assets/fonts/ARIALMTEXTRABOLD.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial MT';
    font-style: normal;
    font-weight: 400;
    src: local('Arial MT'), url('/assets/fonts/ARIALMTLIGHT.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial MT';
    font-style: normal;
    font-weight: 400;
    src: local('Arial MT'), url('/assets/fonts/ARIALMTMEDIUM.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial MT';
    font-style: italic;
    font-weight: 400;
    src: local('Arial MT'), url('/assets/fonts/ARIALMTEXTRABOLDITALIC.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial MT';
    font-style: italic;
    font-weight: 400;
    src: local('Arial MT'), url('/assets/fonts/ARIALMTLIGHTITALIC.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial MT';
    font-style: italic;
    font-weight: 400;
    src: local('Arial MT'), url('/assets/fonts/ARIALMTMEDIUMITALIC.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial MT';
    font-style: italic;
    font-weight: 400;
    src: local('Arial MT'), url('/assets/fonts/arialmtblackitalic.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial MT';
    font-style: italic;
    font-weight: 500;
    src: local('Arial MT'), url('/assets/fonts/ARIALMTITALIC.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial MT';
    font-style: normal;
    font-weight: 700;
    src: local('Arial MT'), url('/assets/fonts/ARIALBOLDMT.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial MT';
    font-style: italic;
    font-weight: 700;
    src: local('Arial MT'), url('/assets/fonts/ARIALBOLDITALICMT.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial MT Narrow';
    font-style: normal;
    font-weight: 400;
    src: local('Arial MT Narrow'), url('/assets/fonts/ARIALMTNARROW.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial Rounded MT';
    font-style: normal;
    font-weight: 400;
    src: local('Arial Rounded MT'), url('/assets/fonts/ARIALROUNDEDMT.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial Rounded MT Bold';
    font-style: normal;
    font-weight: 400;
    src: local('Arial Rounded MT Bold'), url('/assets/fonts/ARLRDBD.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial MT Narrow';
    font-style: italic;
    font-weight: 400;
    src: local('Arial MT Narrow'), url('/assets/fonts/ARIALMTNARROWITALIC.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'ArialMT';
    font-style: normal;
    font-weight: 500;
    src: local('ArialMT'), url('/assets/fonts/arialmt.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial MT Black';
    font-style: normal;
    font-weight: 900;
    src: local('Arial MT Black'), url('/assets/fonts/ARIALMTBLACK.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial Rounded MT';
    font-style: normal;
    font-weight: 300;
    src: local('Arial Rounded MT'), url('/assets/fonts/ARIALROUNDEDMTLIGHT.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial MT Narrow';
    font-style: normal;
    font-weight: 700;
    src: local('Arial MT Narrow'), url('/assets/fonts/ARIALMTNARROWBOLD.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial MT Narrow';
    font-style: italic;
    font-weight: 700;
    src: local('Arial MT Narrow'), url('/assets/fonts/ARIALMTNARROWBOLDITALIC.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial Rounded MT';
    font-style: normal;
    font-weight: 800;
    src: local('Arial Rounded MT'), url('/assets/fonts/ARIALROUNDEDMTEXTRABOLD.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    src: local('Arial'), url('/assets/fonts/ARIAL.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    src: local('Arial'), url('/assets/fonts/ARIALN.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    src: local('Arial'), url('/assets/fonts/ARIALI 1.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    src: local('Arial'), url('/assets/fonts/ARIALI.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    src: local('Arial'), url('/assets/fonts/ARIALNI.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 500;
    src: local('Arial'), url('/assets/fonts/ArialMdm.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 500;
    src: local('Arial'), url('/assets/fonts/ArialMdmItl.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    src: local('Arial'), url('/assets/fonts/ARIALBD 1.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    src: local('Arial'), url('/assets/fonts/ARIALBD.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    src: local('Arial'), url('/assets/fonts/ARIALNB.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 700;
    src: local('Arial'), url('/assets/fonts/ARIALBI 1.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 700;
    src: local('Arial'), url('/assets/fonts/ARIALBI.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 700;
    src: local('Arial'), url('/assets/fonts/ARIALNBI.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 900;
    src: local('Arial'), url('/assets/fonts/ARIBLK.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial Black';
    font-style: italic;
    font-weight: 400;
    src: local('Arial Black'), url('/assets/fonts/ARIALBLACKITALIC.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial Light';
    font-style: normal;
    font-weight: 300;
    src: local('Arial Light'), url('/assets/fonts/ARIALLGT.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial CE';
    font-style: normal;
    font-weight: 500;
    src: local('Arial CE'), url('/assets/fonts/ArialCE.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial CE MT Black';
    font-style: normal;
    font-weight: 900;
    src: local('Arial CE MT Black'), url('/assets/fonts/ArialCEMTBlack.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial CE';
    font-style: normal;
    font-weight: 7;
    src: local('Arial CE'), url('/assets/fonts/arialceb.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial Light';
    font-style: italic;
    font-weight: 300;
    src: local('Arial Light'), url('/assets/fonts/ARIALLGTITL.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial CE';
    font-style: italic;
    font-weight: 500;
    src: local('Arial CE'), url('/assets/fonts/ArialCEItalic.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial CE';
    font-style: italic;
    font-weight: 700;
    src: local('Arial CE'), url('/assets/fonts/ArialCEBoldItalic.woff') format('woff');
    font-display: swap;
}




::-webkit-scrollbar {
    width: 10px;
    transition: 200ms ease-in-out;
}

::-webkit-scrollbar-track {
    width: 10px;
    border-radius: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background: #01603a;
    border-radius: 10px;

}
